<header>
	<figure>
		<a href="/"><img src="../assets/logo.svg" alt="logo" /></a>
	</figure>
</header>
<aside>
	<app-theme-button></app-theme-button>
	<app-scroll-top></app-scroll-top>
</aside>
<main>
	<app-gallery></app-gallery>
</main>
<footer>
	<div class="footer-container">
		<div class="footer-column">
			<div class="footer-logo">
				<a href="/"><img src="../assets/logo.svg" alt="logo" /></a>
			</div>
			<div class="footer-social">
				<a href="https://www.linkedin.com/in/michael-mbabela/" target="blank" class="footer-social-linkedin" title="link to LinkedIn profile">
					<i class="icon-linkedin"></i>
				</a>
				<a href="https://github.com/AneleMbabela" target="blank" class="footer-social-github" title="link to Github profile">
					<i class="icon-github"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
